.header-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.header-title{
    margin:0px;
    font-size: 12px;
    font-weight: 400;
}

.header-options:hover{
    color: black;
}

.header-options-icon{
    object-fit: contain;
    width: 24px !important;
    height: 24px !important;
}